#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.topic {
  display: flex;
  justify-content: flex-start;
}

.paper-element {
  padding: 20px;
  width: 85vw;
  transition: 2s;
  min-height: 80px;
}

.paper-element .expand {
  animation: displayanimation .2s linear;
}

@keyframes displayanimation {
  from {
    transform: scaleY(0) translate(0, -100%);
  }

  to {
    transform: scaleY(1);
  }
}

div.content {
  padding: 20px;
  align-items: flex-start;
}

.questions-container>:not(:last-child) {
  margin-bottom: 40px;
}

h2 {
  font-size: 38px;
}

h3 {
  margin-top: 0px;
}